@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

html {
	scroll-behavior: smooth;
}

.menuButton {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 13%;
	color: #090909;
	width: 2.5em;
	height: 2.5em;
	border-radius: 0.5em;
	background: rgb(226 232 240);
	border: 1px solid #e8e8e8;
	transition: all 0.3s;
}

.menuButton:hover {
	border: 1px solid white;
}

.menuButton:active {
	color: #666;
	box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}

input[type='checkbox'] {
	-webkit-appearance: none;
	display: none;
	visibility: hidden;
}

.menuButton span {
	width: 25px;
	height: 4px;
	background: #131313;
	border-radius: 100px;
	transition: 0.3s ease;
}

input[type]:checked ~ span.top {
	transform: translateY(290%) rotate(45deg);
	width: 40px;
}

input[type]:checked ~ span.bot {
	transform: translateY(-270%) rotate(-45deg);
	width: 40px;
	box-shadow: 0 0 10px #495057;
}

input[type]:checked ~ span.mid {
	transform: translateX(-20px);
	opacity: 0;
}
